<div class="d-flex flex-column align-content-center justify-content-center align-items-center h-100">
    <i class="bi bi-exclamation-circle-fill" style="font-size: 100px"></i>
    <h4>인증에 실패하였습니다.</h4>
    <p>인증 토큰이 유효하지 않거나, 만료되었습니다.</p>
</div>